html
	head
		title="Users"
	body
		h2="Create New User"

		block content
			form(action="/users", name="add-user", method="post")
				div.input
					input(type="text", name="username", placeholder="What is your username?")
				div.actions
					input(type="submit", value="Sign Up")